body {
  padding: 0;
  margin: 0;
  background: #333;
  display: flex;
  flex-flow: row wrap;
  .home-container {
    // align-content: stretch;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }

  .default-font {
    color: white;
    font-size: 20px;
  }
  .primary-button {
    height: 40px;
    width: 130px;
    border-radius: 40px;
    color: white;
    letter-spacing: 1px;
    font: {
      size: 20px;
      weight: bold;
    }
    border: 4px solid white;
    cursor: pointer;
    background: #333;
  }
}