**.DS_Store
bundle.js
node_modules/
dist/
/server/project/
server/.idea/
server/project/boot/
server/project/plugins/project
server/target/
server/lib_managed/
server/src_managed/
server/test-output/
server/*.iml
server/.classpath_nb
